repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
      #    -   id: double-quote-string-fixer
      #    -   id: name-tests-test
    -   id: requirements-txt-fixer

-   repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
    - id: black
      language_version: python3

      #- repo: https://github.com/myint/docformatter
      #  rev: v1.6.0.rc1
      #  hooks:
      #  - id: docformatter

- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
    - id: isort
      name: isort (python)
